---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot<TELEGRAM_TOKEN>/sendMessage
    body:
      encoding: UTF-8
      string: '{"chat_id":"5899443915","text":"Hello","parse_mode":"HTML"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":277,"from":{"id":7721874674,"is_bot":true,"first_name":"Language
        Network","username":"language_network_bot"},"chat":{"id":5899443915,"first_name":"Eli","last_name":"Block","username":"eliblocks","type":"private"},"date":1732823729,"text":"Hello"}}'
  recorded_at: Thu, 28 Nov 2024 19:55:29 GMT
recorded_with: VCR 6.3.1
